@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');


html, body{
    margin: 0;
    padding: 0;


}

body{
    background-image: url("https://i.pinimg.com/originals/d8/1e/74/d81e74114ff2917bd78e76710e1cc53b.png");
    background-position: left bottom; /* Положение фона */
    background-color: #f4f4f4;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 20%;
    background-attachment: fixed;
    font-family: 'Roboto Slab', sans-serif;


}
.body-img{

}

.form-inline{
    margin: auto;


}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.container{


}
.jumbotron h1{
    margin-top: -40px;
    font-size: 25px;

}
.category-list {
    list-style: none;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.category-list li {
    page-break-inside: avoid;
    break-inside: avoid;
    padding: 1px;
    list-style: none;
    color: #3e3d40;
    font-size: 15px;
}
.li-background:hover{
    background-color: #f3f4f4;
    border-radius: 3px;
    padding: 2px;

}
.li-background a{
    color: black;
    text-decoration: none;
}
.li-background{
    width: 290px;
    height: 30px;
    border-left: 2px solid #f3f4f4; /* Параметры линии */
    padding-left: 15px; /* Расстояние от линии до текста */

}
.li-span{
    padding: 2px;
    float: right;
    font-size: 13px;
    color: rgba(0, 156, 11, 0.98);

}
.category{
    margin-top: 30px;
    font-size: 15px;

}
.jumbotron{
    background: white;
    border: 2px solid #f3f4f4;
    border-radius: 2px 2px 0 0;
    color: #3e3d40;
    width: 100%;

}
.main{
    padding: 40px;
    width: 100%;
    height: auto;
    min-height: 2000px;
    border: 2px solid #f3f4f4;
    border-radius: 1px;
    background: white;

}

.img-mod{
    width: 320px;
    height: 230px;
    border-radius: 4px 4px 0 0;
    animation: glowImage 4s ease-in infinite alternate;
}
.download_mod{
    text-align: center;
    margin-top: 10%;

}

.Button__textWrapper, .Button__text, .Button__icon {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.Button__text, .Button__icon {
    -webkit-transition: top 500ms;
    transition: top 500ms;
}
::-webkit-scrollbar { width: 5px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 99px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}
.Button {
    display: inline-block;
    position: relative;
    background-color: #0CBABA;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 1000px;
    width: 200px;
    height: 60px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7), inset 0 1px rgba(255, 255, 255, 0.3);
    text-align: center;
    -webkit-transition: background-color 500ms, -webkit-transform 100ms;
    transition: background-color 500ms, -webkit-transform 100ms;
    transition: background-color 500ms, transform 100ms;
    transition: background-color 500ms, transform 100ms, -webkit-transform 100ms;
}
.ul_header_right{
    margin-left: 130%;
}
.ul_header_right_2{
    margin-left: 90%;
}
.Button__textWrapper {
    overflow: hidden;
}
.Button__text {
    line-height: 60px;
    top: 0;
}
.Button__icon {
    top: 100%;
    background: url("https://cl.ly/0X3o100h2H0g/icon-download.svg") no-repeat center center;
}
.Button::before {
    content: attr(data-tooltip);
    width: 140px;
    height: 60px;
    background-color: #EEB868;
    font-size: 1rem;
    border-radius: .25em;
    line-height: 60px;
    bottom: 90px;
    left: calc(50% - 70px);
}
.Button::after {
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #EEB868;
    left: calc(50% - 10px);
    bottom: 70px;
}
.Button::before, .Button::after {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    visibility: hidden;
}
.Button:hover {
    background-color: #01BAEF;
}
.Button:hover .Button__text {
    top: -100%;
}
.Button:hover .Button__icon {
    top: 0;
}
.Button:hover::before, .Button:hover::after {
    opacity: 1;
    visibility: visible;
}
.Button:hover::after {
    bottom: 60px;
}
.Button:hover::before {
    bottom: 80px;
}
.Button:active {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
}
.pagination{
    margin-top: 3%;
    margin-left: 5px;
}
.way{
    color: #989898;
}
.mod-content{

    border-radius: 10px;
    width: 70%;
    height: auto;
    min-height: 1000px;
    font-family: 'Lora', serif;
}

.image-mod{
    margin: 30px;
    margin-top: 10%;
    width: 100%;
    height: 60%;
    margin-left: 2%;
    border: 10px solid #2B2B2B;
    overflow:hidden;
    transition: all 2s;
    display: inline-block;

}
.image-mod:hover {

    transform: scale(1.1);
    cursor: pointer;
}

.image-mod img{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.name-mod{
    position: absolute;
    margin-top: 1%;
    margin-left: 2%;
}
.tabs2{
    display: none;
}

.description{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 15px;
    margin-bottom: 30%;
    margin-right: 7%;
}
.way a, .way p{
    display: inline;
    color: #989898;
    text-decoration: none;
}
.way p:hover {
    text-decoration: none;
    color: black;
}
.mod{
    display: inline-block;
    border: 2px solid #c0bdc5;;
    border-radius: 5px;
    width: 324px;
    height: auto;
    margin: 10px;
}
.mod h6{
    margin: 10px 20px;
    color: black;
}
.mod hr{
    width: 280px;
}
.mod:hover{
    box-shadow: 0 0 10px rgba(0, 24, 172, 0.5);

}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.collapse{
    margin: 5px;
    padding: 5px;
}
.auth{
    float: right;

}
.auth-li{
    float: right;
}
.ico-upload{
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("../image/icons/load.png");
    margin-left: 5%;

}
.ico-views{
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("../image/icons/glaz.png");
    color: #989898;
}
.ico-upload h6{
    font-size: 12px;
    margin-top: -0%;
    color: #989898;
}
.ico-views h6{
    font-size: 12px;
    margin-top: -0%;
    color: #989898;
}
.author{
    display: inline-block;
    color: black;
    font-size: 12px;
   margin: 0 1form-controlpx 0 0;


}
#sidebar {
    margin-top:15px;
    width:300px;
    float:left;
    display:table;
}
.cell_recommend_3 {
    width:200px;

}

.vk-group {
    margin-top: 10%;
    display: inline-block;
}
.cell_recommend_3 h3 {
    font:190%/1.5 Verdana,Arial,Helvetica, sans-serif;
    font-weight:200;
    color:#666;
    margin-bottom: 5px;
}

.cell_recommend_3 img {
    width:90px;
    height:60px;
    padding:3px;
    background:#F4F8F9;
    float:left;
    margin-right: 10px!important;
    margin-top: 6%;
}
.cell_recommend_3:hover{
    box-shadow:
            1px 1px #53ea93,
            2px 2px #53ea93,
            3px 3px #53ea93,
            4px 4px #53ea93,
            5px 5px #53ea93,
            6px 6px #53ea93,
            7px 7px #53ea93;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.cd-user-modal {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
}
.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
}
.cd-user-modal.is-visible .cd-user-modal-container {
    margin-top: 10%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

    padding: 0;
    border: 0;


    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}
.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
}
@media only screen and (min-width: 600px) {
    .cd-user-modal-container {
        margin: 4em auto;
    }
    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}
.cd-form {
    padding: 1.4em;
}
.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
    margin-top: 0;
}
.cd-form .fieldset:last-child {
    margin-bottom: 0;
}
.cd-form label {
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-form label.image-replace {
    /* заменить текст с иконой */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
/* Иконки полей ввода */
.cd-form label.cd-username {
    background-image: url("../img/cd-icon-username.svg");
}
.cd-form label.cd-email {
    background-image: url("../img/cd-icon-email.svg");
}
.cd-form label.cd-password {
    background-image: url("../img/cd-icon-password.svg");
}
.cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}
.cd-form input.full-width {
    width: 100%;
}
.cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}
.cd-form input.has-error {
    border: 1px solid #d76666;
}
.cd-form input[type=password] {
    /* пространство для кнопки Скрыть */
    padding-right: 65px;
}
.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}
.cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}
.cd-form .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* предотвращения кликов и прикосновения */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cd-form .cd-error-message::after {
    /* уголок сообщения об ошибке */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.cd-form .cd-error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
    }
    .cd-form .fieldset {
        margin: 2em 0;
    }
    .cd-form .fieldset:first-child {
        margin-top: 0;
    }
    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }
    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}
.cd-form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
}
@media only screen and (min-width: 600px) {
    .cd-form-message {
        padding: 2em 2em 0;
    }
}
.cd-form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;

    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-form-bottom-message a {
    color: black;

    text-decoration: underline;
}.nav-item{



 }
.cd-close-form {
    /* стиль X кнопки вверху справа */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("../img/cd-icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
}
#cd-login, #cd-signup, #cd-reset-password {
    display: none;
}
#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
}
.cell_recommend_3 p {
    margin: 10px;
    color: white;
}
.user-info{
    font-size: 13px;

    margin-left: 65%;
}
.cell_recommend_3 a:link,
.cell_recommend_3 a:visited {
    color:#555;
    float:left;
    width:250px;
    display: block;
    color:#555;
    padding: 10px 20px;
    border-top: 1px solid #CAD3DA;
}

.cell_recommend_3 a:hover {
    background:#282d34;
}
#nbcont {
    width:300px;
    display:table;
    background-color:#282d34;
    padding-bottom:5px;
    font-size: 14px;
}
.name-author{
    color: rgba(203,90,0,0.8)
}
.search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    background-color: #f9f9f9
}

#dynamic {
    order: 2;
    border-top: 2px solid #e9eaea
}

.filter {

    margin-left: -10%;
    width: 120%;
}

.filter .bord {
    border: 2px solid #e9eaea;
    -webkit-border-radius: 4px;
    border-radius: 4px
}
.block-category{

}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.size-search{
    width: 400px;
    margin-left: 45%;
}
.sort{
    color:#555;
    margin-left: 1%;
    width: 65%;
    height: 55px;
    border: 2px solid #CAD3DA;
    border-radius: 5px;
    display: inline-block;
}
.sort-text{
    display: inline-block;
}
.size-select{
    width: 270px;
}
.form-group{
    width: 4px;
}
.btn-search{
    width: 100px;
    height: 38px;
}
.main{
    margin-top: -1%;
    height: auto;
}
.right-panel{
    margin: 10px -40px auto;
    float: right;
}
.page-footer{
    background: rgba(6, 6, 6, 0.86);
    color: white;
    width: auto;

}
.date{
    color: #000;
    font-weight: bold;
    margin: 30px;
    font-size: 13px;

}
#inputState2{
    display: inline-block;
    margin: 6px;
    float: left;
    width: 48%;
}
.btn-sort{

    margin: 6px;
    float: right;
    width: 48%;

}


.sort-text{
    margin: 4px 10px;
}
.date:active{
    color: rgba(0, 156, 11, 0.98);
}
.rating{
    color: #000;
    font-weight: bold;
    margin: 30px;
    font-size: 13px;
}
.rating:active{
    color: rgba(0, 156, 11, 0.98);
}

.imgicodown{

    margin-top: -4px;

}
.download a:hover{
    color: black;
}
.download{
    font-family: 'Lora', serif;
    margin: 25px;
    color: #797979;
}
.off{
    display: none;
}
.dd{
    display: none;
}
.dd.active{
    display: block;
}
.search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #f9f9f9
}

#dynamic {
    order: 2;
    border-top: 2px solid #e9eaea
}

.filter {
    margin-bottom: 32px
}

.filter .bord {
    border: 2px solid #e9eaea;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.content .mod_info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 12px;
    margin-bottom: 20px
}

.content .mod_info .user {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;


}
.user-mod img{
    width: 90px;
    height: 90px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px
}
.content .mod_info .user .img {

    -webkit-border-radius: 1px;
    border-radius: 1px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px
}

.content .mod_info .user a {
    font-weight: 700;
    color: #080f14;
    line-height: 20px;
    font-size: 18px;
    text-decoration: none
}
.content .mod_info .user p {
    font-weight: 500;
    font-size: 12px;
    color: #7b7b7b;
    line-height: 20px
}

.content .mod_info .icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.content .mod_info .icons .svg {
    margin-right: 2px;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.content .mod_info .icons .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.content .mod_info .icons span, .content .mod_info .icons .icon {
    font-size: 12px;
    color: #7b7b7b;
}
.rg{
    margin-left: 235%;
    margin-top: -40%;
}
.content .mod_info  {
    width: 268px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

body {

    line-height: 1.65;
    overflow-x: hidden;

}
.content {
    min-height: -webkit-calc(100vh - 201px);
    min-height: calc(100vh - 201px)
}

.content h1 {
    font-size: 24px;
    color: #080f14;
    line-height: 1.2;
    padding: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px
}

.content .container .left {
    width: 750px;
    min-width: 750px
}

.content .container .right {
    width: 300px;
    min-width: 300px
}

.content .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 20px
}


.content .pre-tab,.content .pre-tab2 {
    margin-bottom: 30px
}
.item{
    width: 113%;
}

.content .pre-tab .item,.content .pre-tab2 .item2 {
    display: none;
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 30px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 2px solid #e9eaea;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: -2px;
    width: 720px;
}
.top-users{
    text-align: center;
    margin-top: 10%;
    width: 100%;
    height: auto;

    border: 2px solid #e9eaea;
    border-radius: 5px 0 0 5px;
}
.list-group-item{
    border: none;
    list-style-type:decimal

}
.list-group a{
    text-decoration: none;
    color: black;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.list-group a:hover {

    transform: scale(1.05);
    cursor: pointer;
}

.top-users h4{
    margin-top: 3%;
}
.content .pre-tab .item.active,.content .pre-tab2 .item2.active {
    display: block;
}

.content .pre-tab .header,.content .pre-tab2 .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden
}

.content .pre-tab .elem,.content .pre-tab2 .elem2 {
    padding-left: 30px;
    padding-right: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 39px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 2px solid #e9eaea;
    background-color: #f9f9f9;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0d151a;
    text-decoration: none;
    position: relative;
    border-bottom-color: #e9eaea
}

.content .pre-tab .elem:not(:first-child),.content .pre-tab2 .elem2:not(:first-child) {
    margin-left: -2px
}

.content .pre-tab .elem.active,.content .pre-tab2 .elem2.active {
    background-color: #fff;
    border-bottom-color: transparent;
    z-index: 10
}
.form-mod{
    width: 100%;
}

.ff{
    width: 100%;
}


.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group{z-index:2;margin-left:-1px}.nav{padding-left:0;margin-bottom:0;list-style:none}.nav>li{position:relative;display:block}.nav>li>a{position:relative;display:block;padding:10px 15px}.nav>li>a:focus,.nav>li>a:hover{text-decoration:none;background-color:#eee}.nav>li.disabled>a{color:#777}.nav>li.disabled>a:focus,.nav>li.disabled>a:hover{color:#777;text-decoration:none;cursor:not-allowed;background-color:transparent}.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{background-color:#eee;border-color:#337ab7}.nav .nav-divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}.nav>li>a>img{max-width:none}.nav-tabs{border-bottom:1px solid #ddd}.nav-tabs>li{float:left;margin-bottom:-1px}.nav-tabs>li>a{margin-right:2px;line-height:1.42857143;border:1px solid transparent;border-radius:4px 4px 0 0}.nav-tabs>li>a:hover{border-color:#eee #eee #ddd}.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{color:#555;cursor:default;background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent}.nav-tabs.nav-justified{width:100%;border-bottom:0}.nav-tabs.nav-justified>li{float:none}.nav-tabs.nav-justified>li>a{margin-bottom:5px;text-align:center}.nav-tabs.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}@media (min-width:768px){.nav-tabs.nav-justified>li{display:table-cell;width:1%}.nav-tabs.nav-justified>li>a{margin-bottom:0}}.nav-tabs.nav-justified>li>a{margin-right:0;border-radius:4px}.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{border:1px solid #ddd}@media (min-width:768px){.nav-tabs.nav-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{border-bottom-color:#fff}}.nav-pills>li{float:left}.nav-pills>li>a{border-radius:4px}.nav-pills>li+li{margin-left:2px}.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{color:#fff;background-color:#337ab7}.nav-stacked>li{float:none}.nav-stacked>li+li{margin-top:2px;margin-left:0}.nav-justified{width:100%}.nav-justified>li{float:none}.nav-justified>li>a{margin-bottom:5px;text-align:center}.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}@media (min-width:768px){.nav-justified>li{display:table-cell;width:1%}.nav-justified>li>a{margin-bottom:0}}.nav-tabs-justified{border-bottom:0}.nav-tabs-justified>li>a{margin-right:0;border-radius:4px}.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{border:1px solid #ddd}@media (min-width:768px){.nav-tabs-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{border-bottom-color:#fff}}.tab-content>.tab-pane{display:none}.tab-content>.active{display:block}.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}.navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent}@media (min-width:768px){.navbar{border-radius:4px}}@media (min-width:768px){.navbar-header{float:left}}.navbar-collapse{padding-right:15px;padding-left:15px;overflow-x:visible;-webkit-overflow-scrolling:touch;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}.navbar-collapse.in{overflow-y:auto}@media (min-width:768px){.navbar-collapse{width:auto;border-top:0;-webkit-box-shadow:none;box-shadow:none}.navbar-collapse.collapse{display:block!important;height:auto!important;padding-bottom:0;overflow:visible!important}.navbar-collapse.in{overflow-y:visible}.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse{padding-right:0;padding-left:0}}.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse{max-height:340px}@media (max-device-width:480px) and (orientation:landscape){.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse{max-height:200px}}.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{margin-right:-15px;margin-left:-15px}@media (min-width:768px){.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{margin-right:0;margin-left:0}}.navbar-static-top{z-index:1000;border-width:0 0 1px}@media (min-width:768px){.navbar-static-top{border-radius:0}}.navbar-fixed-bottom,.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030}@media (min-width:768px){.navbar-fixed-bottom,.navbar-fixed-top{border-radius:0}}.navbar-fixed-top{top:0;border-width:0 0 1px}.navbar-fixed-bottom{bottom:0;margin-bottom:0;border-width:1px 0 0}.navbar-brand{float:left;height:50px;padding:15px 15px;font-size:18px;line-height:20px}.navbar-brand:focus,.navbar-brand:hover{text-decoration:none}.navbar-brand>img{display:block}@media (min-width:768px){.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{margin-left:-15px}}.navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:8px;margin-right:15px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px}.navbar-toggle:focus{outline:0}.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px}.navbar-toggle .icon-bar+.icon-bar{margin-top:4px}@media (min-width:768px){.navbar-toggle{display:none}}.navbar-nav{margin:7.5px -15px}.navbar-nav>li>a{padding-top:10px;padding-bottom:10px;line-height:20px}@media (max-width:767px){.navbar-nav .open .dropdown-menu{position:static;float:none;width:auto;margin-top:0;background-color:transparent;border:0;-webkit-box-shadow:none;box-shadow:none}.navbar-nav .open .dropdown-menu .dropdown-header,.navbar-nav .open .dropdown-menu>li>a{padding:5px 15px 5px 25px}.navbar-nav .open .dropdown-menu>li>a{line-height:20px}.navbar-nav .open .dropdown-menu>li>a:focus,.navbar-nav .open .dropdown-menu>li>a:hover{background-image:none}}@media (min-width:768px){.navbar-nav{float:left;margin:0}.navbar-nav>li{float:left}.navbar-nav>li>a{padding-top:15px;padding-bottom:15px}}.navbar-form{padding:10px 15px;margin-top:8px;margin-right:-15px;margin-bottom:8px;margin-left:-15px;border-top:1px solid transparent;border-bottom:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1)}@media (min-width:768px){.navbar-form .form-group{display:inline-block;margin-bottom:0;vertical-align:middle}.navbar-form .form-control{display:inline-block;width:auto;vertical-align:middle}.navbar-form .form-control-static{display:inline-block}.navbar-form .input-group{display:inline-table;vertical-align:middle}.navbar-form .input-group .form-control,.navbar-form .input-group .input-group-addon,.navbar-form .input-group .input-group-btn{width:auto}.navbar-form .input-group>.form-control{width:100%}.navbar-form .control-label{margin-bottom:0;vertical-align:middle}.navbar-form .checkbox,.navbar-form .radio{display:inline-block;margin-top:0;margin-bottom:0;vertical-align:middle}.navbar-form .checkbox label,.navbar-form .radio label{padding-left:0}.navbar-form .checkbox input[type=checkbox],.navbar-form .radio input[type=radio]{position:relative;margin-left:0}.navbar-form .has-feedback .form-control-feedback{top:0}}@media (max-width:767px){.navbar-form .form-group{margin-bottom:5px}.navbar-form .form-group:last-child{margin-bottom:0}}@media (min-width:768px){.navbar-form{width:auto;padding-top:0;padding-bottom:0;margin-right:0;margin-left:0;border:0;-webkit-box-shadow:none;box-shadow:none}}.navbar-nav>li>.dropdown-menu{margin-top:0;border-top-left-radius:0;border-top-right-radius:0}.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu{margin-bottom:0;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:0;border-bottom-left-radius:0}.navbar-btn{margin-top:8px;margin-bottom:8px}.navbar-btn.btn-sm{margin-top:10px;margin-bottom:10px}.navbar-btn.btn-xs{margin-top:14px;margin-bottom:14px}.navbar-text{margin-top:15px;margin-bottom:15px}@media (min-width:768px){.navbar-text{float:left;margin-right:15px;margin-left:15px}}@media (min-width:768px){.navbar-left{float:left!important}.navbar-right{float:right!important;margin-right:-15px}.navbar-right~.navbar-right{margin-right:0}}.navbar-default{background-color:#f8f8f8;border-color:#e7e7e7}.navbar-default .navbar-brand{color:#777}.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{color:#5e5e5e;background-color:transparent}.navbar-default .navbar-text{color:#777}.navbar-default .navbar-nav>li>a{color:#777}.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#333;background-color:transparent}.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{color:#555;background-color:#e7e7e7}.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:focus,.navbar-default .navbar-nav>.disabled>a:hover{color:#ccc;background-color:transparent}.navbar-default .navbar-toggle{border-color:#ddd}.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:#ddd}.navbar-default .navbar-toggle .icon-bar{background-color:#888}.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:#e7e7e7}.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{color:#555;background-color:#e7e7e7}@media (max-width:767px){.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#777}.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#333;background-color:transparent}.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover{color:#555;background-color:#e7e7e7}.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#ccc;background-color:transparent}}.navbar-default .navbar-link{color:#777}.navbar-default .navbar-link:hover{color:#333}.navbar-default .btn-link{color:#777}.navbar-default .btn-link:focus,.navbar-default .btn-link:hover{color:#333}.navbar-default .btn-link[disabled]:focus,.navbar-default .btn-link[disabled]:hover,fieldset[disabled] .navbar-default .btn-link:focus,fieldset[disabled] .navbar-default .btn-link:hover{color:#ccc}.navbar-inverse{background-color:#222;border-color:#080808}.navbar-inverse .navbar-brand{color:#9d9d9d}.navbar-inverse .navbar-brand:focus,.navbar-inverse .navbar-brand:hover{color:#fff;background-color:transparent}.navbar-inverse .navbar-text{color:#9d9d9d}.navbar-inverse .navbar-nav>li>a{color:#9d9d9d}.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover{color:#fff;background-color:transparent}.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover{color:#fff;background-color:#080808}.navbar-inverse .navbar-nav>.disabled>a,.navbar-inverse .navbar-nav>.disabled>a:focus,.navbar-inverse .navbar-nav>.disabled>a:hover{color:#444;background-color:transparent}.navbar-inverse .navbar-toggle{border-color:#333}.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover{background-color:#333}.navbar-inverse .navbar-toggle .icon-bar{background-color:#fff}.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form{border-color:#101010}.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover{color:#fff;background-color:#080808}@media (max-width:767px){.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header{border-color:#080808}.navbar-inverse .navbar-nav .open .dropdown-menu .divider{background-color:#080808}.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{color:#9d9d9d}.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{color:#fff;background-color:transparent}.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover{color:#fff;background-color:#080808}.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#444;background-color:transparent}}.navbar-inverse .navbar-link{color:#9d9d9d}.navbar-inverse .navbar-link:hover{color:#fff}.navbar-inverse .btn-link{color:#9d9d9d}.navbar-inverse .btn-link:focus,.navbar-inverse .btn-link:hover{color:#fff}.navbar-inverse .btn-link[disabled]:focus,.navbar-inverse .btn-link[disabled]:hover,fieldset[disabled] .navbar-inverse .btn-link:focus,fieldset[disabled] .navbar-inverse .btn-link:hover{color:#444}
